/* General Layout */
.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.home-main-content {
  flex: 1;
  padding: 20px;
}

/* Hero Section */
.hero {
  text-align: center;
  background-color: #34495e;
  color: #fff;
  padding: 50px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.2rem;
}

.cta-button {
  margin-top: 40px;
  background-color: #e67e22;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.cta-button:hover {
  background-color: #d35400;
}

/* Mission Section */
.mission-section {
  text-align: center;
  padding: 30px 20px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mission-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.mission-section p {
  font-size: 1rem;
  color: #555;
}

/* Features Section */
.features-section {
  text-align: center;
  padding: 30px 20px;
}

.features-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.features-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
}

.feature-card h3 {
  font-size: 1.3rem;
  color: #34495e;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1rem;
  color: #555;
}

/* Reviews Section */
.reviews-section {
  text-align: center;
  padding: 30px 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.reviews-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.review-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.review-card h3 {
  font-size: 1.2rem;
  color: #e67e22;
}

.review-card h3 span {
  font-size: 0.9rem;
  color: #777;
}

.review-card p {
  font-size: 1rem;
  color: #555;
}

/* Image Gallery */
.image-gallery {
  text-align: center;
  margin-bottom: 30px;
}

.image-gallery h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.gallery-item {
  display: inline-block;
  margin: 10px;
}

.gallery-item img {
  max-width: 100%;
  border-radius: 10px;
}
