/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*full height and width for body and root */
html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* default background for body */
body {
  background-color: #f9f9f9; 
  font-family: Arial, sans-serif; 
}


.faq-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.faq-page-with-sidebar {
  max-width: calc(100% - 250px); /* Reduce width to accommodate sidebar */
  margin-left: 250px; /* Align with the sidebar */
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.faq-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #34495e;
}

.faq-container {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.faq-item {
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-item:hover {
  background-color: #f9f9f9;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  margin-top: 10px;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

.faq-item.active .faq-question h3 {
  color: #e67e22;
}

.faq-item.active .faq-answer {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
